<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexCIty/ResponsePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/homepage.css">
</head>


{{!--

<head>
    <meta charset="UTF-8">
    <title>Package Search</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cantarell|Julius+Sans+One&display=swap"
        rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- <script src="/public/js/listing.js"></script> -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">

</head> --}}

<body>
    {{!-- {{>nav-bar}} --}}

    {{{ body }}}

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/b7ff529076.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/savedfunctions.js"></script>
    <script src="https://kit.fontawesome.com/4a0e08e66c.js" crossorigin="anonymous"></script>
</body>

</html>