<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="./assets/nexcity-logo.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./public/CSS/style.css">
    <title>NexCity</title>
</head>

<body>
    
    <div class="bg-image" style="background-size:cover; background-repeat: no-repeat; background-image: url('./assets/H6VAe3D.gif'); height: 100vh">
        <nav class="navbar navbar-dark bg-transparent text-white">
            <a class="navbar-brand" href="#">
            <img src="./public/images/nexcity-logo.png" width="70" height="80" class="d-inline-block align-top" alt="logo">
            NexCity
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        
            <section class="w-100 row justify-content-center">
                <div class="col-10 col-md-6 col-lg-5">
                    <h2 class="display-3 text-center text-white mb-5">NexCity</h2>
                    <img src="assets/nexcity-logo.png" width="120" height="110" class="img-fluid mx-auto d-block mt-5"/>
                    <div class="text-center">
                        <button type="button" class="btn btn-light mt-5 w-50"><i class="fas fa-user fa-1.5x mx-2"></i>USERNAME</button> 
                    <div class="text-center">
                        <button type="button" class="btn btn-light mt-2 w-50"><i class="fas fa-lock fa-1.5x mx-2"></i>PASSWORD</button> 
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-light mt-2 w-50">LOG IN</button> 
                    </div>
                    <P class="text-white text-center"><small>Forgot password?</small></P>
                    <hr>
                    <div class="text-center">
                        <a class="text-white text-center" href="#" role="button" data-toggle="modal" data-target="#signUpModal"><small>Don't have an account? Sign up</small></a>
                    </div>
                </div>
            </section>

            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="color: black; background-color: white;">
                        <div class="modal-header text-center">
                        <h5 class="modal-title text-center text-black" id="signUpModalTitle">Sign Up!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <h1 class="display-3 text-center text-black">Sign Up!</h1>
                        <form class="bg-white my-4 p-4 rounded">
                        <h5 class="text-center">Create your NexCity account by filling out the required information below</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <label for="first-name">First Name</label>
                                    <input type="text" class="form-input" name="first-name" placeholder="Enter first name" required />
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" class="form-input" name="last-name" placeholder="Enter last name" required />
                                </div>
                            </div>   
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <label for="area-code">Area Code</label>
                                    <input type="text" class="form-input" name="area-code" placeholder="Area Code" required />
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="phone-number">Phone Number</label>
                                    <input type="text" class="form-input" name="phone-number" placeholder="Phone Number" required />
                                </div>
                            </div> 
                        </div>  
                        <div class="form-group">
                                <label for="street-address">Street Address</label>
                                <input type="text" class="form-input" name="street-address" placeholder="Street Address" required />
                        </div>
        
                        <div class="form-group">
                            <label for="street-address-2">Street Address</label>
                            <input type="text" class="form-input" name="street-address-2" placeholder="Street Address 2" required />
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-input" name="city" placeholder="city" required />
                        </div>
                        <div class="form-group">
                            <label for="state-province">State/ Province</label>
                            <input type="text" class="form-input" name="state-province" placeholder="State/ Province" required />
                        </div>
                        <div class="form-group">
                            <label for="zip-code">Postal/ Zip code</label>
                            <input type="text" class="form-input" name="zip-code" placeholder="Postal/ Zip code" required />
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-input" name="country" placeholder="Country" required />
                        </div>
                        <div class="form-group">
                            <label for="username">Create a Username</label>
                            <input type="text" class="form-input" name="username" placeholder="Username" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Create a Password</label>
                            <input type="text" class="form-input" name="password" placeholder="********" required />
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="payment">Add a Payment</label>
                            <input type="text" class="form-input" name="payment" placeholder="cardholder's Name" required/>
                        </div>
                        <div class="form-group">
                            <label for="card-number">Card Number</label>
                            <input type="text" class="form-input" name="card-number" placeholder="Card Number" required />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-input w-30" name="expiration-date" placeholder="MM/YY" required />
                                </div>
                                <div class="col">
                                    <input type="text" class="form-input w-30" name="CVC" placeholder="CVC" required />
                                </div>
                                <div class="col">
                                        <p><i class="fas fa-lock fa-1.5x mx-2"></i>128-bit secured</p>
                                </div>
                            </div>   
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success w-50" style="background-color: #733D8E; color: white;">CREATE</button> 
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger w-50" style="background-color: #733D8E; color: white;">CANCEL</button> 
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: rgba(255, 255, 255, 0.2);">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
       
    
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
