
   
    <!-- container for flight/restuarant response -->
    <section class="container container-2">
        <br>
        <!-- extra div here -->
        <div> 
            <p>
                Extra DIV if we have to add a Header or some text
            </p>
        </div>
        <div class="container sub-Container-2a">
            <!-- 3 by 4 grid columns for flight results -->
            
                <div class="col">
                    <div class="card p-3 border bg-light">
                        <div class="card-body results" data-marker='${i}'>
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">Carrier: <span data-marker='${i}' id="carrier${i}" >Sample Tokyo Airways</span></p>
                            <p class="card-text">Airport: <span data-marker='${i}' id="airport${i}">Sample Airport</span></p>
                            <p class="card-text">Min Price: $<span data-marker='${i}' id="price${i}">Lowest Price Flight @ 1 BitCoin</span></p>
                            <button class="save-flight btn btn-primary" id='${i}' onClick='btnID(this.id)'>Save Flight</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container sub-Container-2b">
            <p class="text-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda delectus exercitationem possimus facere voluptas dicta, corporis asperiores magnam quas omnis quos rerum sequi voluptatem doloribus blanditiis? Ab accusantium accusamus consequuntur.
            </p>
        </div>
        <br>
    </section>
        
    <section class="container container-3">
        <br>
        <!-- extra div here -->
        <div> 
            <p>
                Extra DIV if we have to add a Header or some text
            </p>
        </div>
        
        <div class="container sub-Container-3a">
            <div></div>
        </div>
        <br>
        <div class="container sub-Container-3b">
            
    </section>
    
