
{{!-- backgorund image --}}
<div class="bg-image" style="background-size:cover; background-repeat: no-repeat; background-image: url('/images/H6VAe3D.gif'); height: 100vh">
       
  <section class="tableBg">


    <table class="table table-hover table-sm tableMargin">
        <caption>Users List of Saved Flights</caption>
      <thead>
        <tr>
          <th scope="col">Trip #</th>
          <th scope="col"># of Days</th>
          <th scope="col"> Max Budget</th>
          <th scope="col"># of Guests</th>
          <th scope="col"># of Rooms</th>
        </tr>
      </thead>
      <tbody>
        <tr id="row1">
          <th scope="row">1</th>
          <td id="daysRow1">sample: 4 days </td>
          <td id="budgetRow1">$45,000</td>
          <td id="guestsRow1">17</td>
          <td id="roomsRow1">1</td>
          <td><button type="button" class=" btn btn-danger close" data-dismiss="#row1" aria-label="Close">
                    {{!-- if the close btn doesnt show, change aria-hidden to false --}}
                    <span aria-hidden="true">&times;</span>
              </button>
            </td>
        </tr>
        <tr id="row2">
          <th scope="row">2</th>
          <td id="daysRow2">sample: 4 days </td>
          <td id="budgetRow2">$45,000</td>
          <td id="guestsRow2">17</td>
          <td id="roomsRow2">1</td>
          <td>
              <button type="button" class=" btn btn-danger close" data-dismiss="#row2" aria-label="Close">
                    {{!-- if the close btn doesnt show, change aria-hidden to false --}}
                    <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
        <tr id="row3">
          <th scope="row">3</th>
          <td id="daysRow3">sample: 4 days </td>
          <td id="budgetRow3">$45,000</td>
          <td id="guestsRow3">17</td>
          <td id="roomsRow3">1</td>
          <td>
              <button type="button" class=" btn btn-danger close" data-dismiss="#row3" aria-label="Close">
                    {{!-- if the close btn doesnt show, change aria-hidden to false --}}
                    <span aria-hidden="true">&times;</span>
              </button>
          </td>
        </tr>
      </tbody>


    </table>
  </section>
</div>